<h1>Listing servers</h1>

<table>
  <tr>
    <th>Ip</th>
    <th>Username</th>
    <th>Password</th>
  </tr>

<% for server in @servers %>
  <tr>
    <td><%=h server.ip %></td>
    <td><%=h server.username %></td>
    <td><%=h server.password %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New server', new_server_path %>
